.toggle-button {
  color: white;
  background-color: rgb(30, 30, 30);
  padding: 10px 20px;
  border: none;
  outline: none;
}

.toggle-button:hover {
  color: yellow;
  background-color: rgb(63, 63, 255);
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  position: absolute;
  background-color: rgb(30, 30, 30);
  min-width: 50px;
}

.row-button {
  border: none;
  outline: none;
  min-height: 20px;
  min-width: 50px;
  color: white;
  padding: 10px 20px;
  background-color: rgb(30, 30, 30);
  white-space: nowrap;
}

.row-button:hover {
  background-color: rgb(63, 63, 255);
}

.row-button-active {
  color: orange;
}
